@charset "utf-8";

body {background-color: rgb(255, 190, 228);}

body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2b2b2b;
	font-size: 100%;
}
#wrapper {
	width: 1300px;  
	margin: 0 auto; 
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background-color: #F4F4F4;
}
#banner {
	border-bottom: 5px solid #542daf;
	height: 100px;
}
#nav {
	width: 160px;
	float: left; 	
      vertical-align: top;
	text-align: left;
}
#nav ul{
    text-align: center; margin: 0; padding-top:3px; padding-bottom: 3px;
	margin: 3px 0 0 0;
	padding: 0;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}
#nav li{
	list-style-type: none;
	margin: 0;
	font-size: 80%;
	padding: 0;
}
#nav li a, #nav li a:visited{
  	padding-left:5px;
	background-color: #dd2c7f;
	color: rgb(247, 243, 246);
	text-decoration: none;
	line-height: 20px;
	display: block;
	border-bottom: 1px solid #000;
}

#nav li a:hover{
	background-color: rgb(135, 79, 180);
	color: #ffffff;
}


#content{
	margin-left: 170px;
	margin-right: 165px;
    padding: 0;
	text-align: left;
}
#content h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 10px;
	text-shadow: -2px 2px 5px rgb(185, 174, 178);
}
#content h3{
	color: rgb(60, 57, 199);
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 10px;
	text-shadow: -2px 2px 5px rgb(185, 174, 178);
	margin-bottom: 1em;
}
#content p{
	margin: 10px;
	font-size: 95%;
}
#content a:link{
	color: #ff00ae;
}
#content a:hover{
	color: rgb(128, 87, 175);
}
#content a:visited{
	color: rgb(151, 152, 255);
}
#content li{ list-style-image: url(blueheart.png); }
#content li:hover { list-style-image: url(purpleheart.png); }

#content table {
	margin-left: 90px;
	margin-bottom: 20px;
	text-align: center;
	width: 800px;
	border: 2;
	border: 2px solid rgb(60, 57, 199);
	background-color: #ab91f3;
	}
#content td{
	padding: 1px;
	border: 1px solid rgb(33, 11, 73);
	background-color: #ffc6de;
	font-size: 90%;
}
#content th {
	padding: 5px;
	border: 1px solid rgb(14, 3, 66);
	background-color: rgb(69, 69, 168);
	color:#ff00ae;
}
#content td.shade {
	background-color: #fea2d6;
}


#contentform{
	margin-left: 200px;
      padding: 0;
	text-align: left;
}
#contentform h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 10px;
	text-shadow: -2px 2px 5px rgb(185, 174, 178);
}
#contentform p{
	margin: 10px;
	font-size: 90%;
}
#form p{
	margin: 10px;
	font-size: 100%;
}
fieldset {
	width: 80%;
	display: block;
	border: 2px solid rgb(69, 69, 168);
	background: #ffd6e0;
	padding: 1em; 
	margin: 0.5em 10;
}
legend {
	color: rgb(255, 82, 125);
  letter-spacing: 0.2em;
  font-weight: bold;
  background: rgb(69, 69, 168);
  padding: 0.25em 0.5em;
}

.inputText {
	font: 0.8em #666; background: rgb(255, 241, 219);
  padding: 2px; border: solid 1px rgb(241, 71, 128);
}
.inputText:hover {
  background: rgb(235, 205, 255); color: #000;
  border: solid 1px rgb(102, 81, 160); 
}
.inputText:focus {
  background: #FFF; color: rgb(99, 32, 255);
  border: solid 1px rgba(32, 0, 212, 0.267); 
}

.ui-widget input {
	font: 0.8em #666; background: rgb(255, 241, 219);
  	border: solid 1px rgb(241, 71, 128);
	margin-left: 10px;
}
.ui-widget input:hover {
  background: rgb(235, 205, 255); color: #000;
  border: solid 1px rgb(102, 81, 160); 
}
.ui-widget input:focus {
  background: #FFF; color: rgb(99, 32, 255);
  border: solid 1px rgba(32, 0, 212, 0.267); 
}

.menuSelect {
	font-size: 0.8em; color: #666;
  background:rgb(255, 241, 219); padding: 2px;
  border: solid 1px rgb(241, 71, 128);
  cursor: pointer;
}
.menuSelect:hover {
	background: rgb(235, 205, 255); color: #000;
	border: solid 1px rgb(102, 81, 160); 
}
.menuSelect:focus {
	background: #FFF; color: rgb(99, 32, 255);
	border: solid 1px rgba(32, 0, 212, 0.267); 
}
.inputButton {
	font: 1.2em #300; font-weight: bolder;
  background: #c1acfa;
  vertical-align: middle; text-align: center;
  border: solid 1px rgb(106, 106, 121); padding: 1px;
  cursor: pointer;
  border-radius: 3px;
}
.inputButton:hover {
  background: rgb(255, 130, 199);
  border: solid 1px rgb(102, 81, 160); color: #000;
}
.inputButton:focus {
  background: #FFF; border: solid 1px rgba(32, 0, 212, 0.267); color: rgb(37, 59, 255);
}


#form1 {
	font: 1.2em #300; font-weight: bolder;
  background: #c1acfa;
  vertical-align: middle; text-align: center;
  border: solid 1px rgb(106, 106, 121); padding: 1px;
  cursor: pointer;
  border-radius: 3px;
}
#form1:hover {
  background: rgb(255, 130, 199);
  border: solid 1px rgb(102, 81, 160); color: #000;
}
#form1:focus {
  background: #FFF; border: solid 1px rgba(32, 0, 212, 0.267); color: rgb(37, 59, 255);
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#bigBear {
	display: block;
	margin: auto;
}

label.error {
	color: rgb(255, 35, 145);
  }

#insert {
	font: 1.2em #300; font-weight: bolder;
  background: #c1acfa;
  vertical-align: middle; text-align: center;
  border: solid 1px rgb(106, 106, 121); padding: 1px;
  cursor: pointer;
  border-radius: 3px;
  margin: 7px;
}
#insert:hover {
  background: rgb(255, 130, 199);
  border: solid 1px rgb(102, 81, 160); color: #000;
}
#insert:focus {
  background: #FFF; border: solid 1px rgba(32, 0, 212, 0.267); color: rgb(37, 59, 255);
}

#ansPlan {
	font: 1.2em #300; font-weight: bolder;
  background: #c1acfa;
  vertical-align: middle; text-align: center;
  border: solid 1px rgb(106, 106, 121); padding: 1px;
  cursor: pointer;
  border-radius: 3px;
  margin: 7px;
}
#ansPlan:hover {
  background: rgb(255, 130, 199);
  border: solid 1px rgb(102, 81, 160); color: #000;
}
#ansPlan:focus {
  background: #FFF; border: solid 1px rgba(32, 0, 212, 0.267); color: rgb(37, 59, 255);
}



#footer{
	clear: both;
	text-align: right;
	background-color: #961c4f;
	border-top: 2px solid #4701553b;
	padding: 10px;
}

#footer p{
	font-size: 65%;
	color: #fff;
	margin: 0;
}
#footer a:link,
#footer a:visited,
#footer a:hover{
	color: white;
  }
.right{
	float: right;
	margin: 5px 10px 2px 10px;
}